01 - Regression/trained_models
01 - Regression/.ipynb_checkpoints
01 - Regression/.DS_Store
02 - Classification/trained_models
02 - Classification/.ipynb_checkpoints
02 - Classification/.DS_Store
03 - Clustering/trained_models
03 - Clustering/.ipynb_checkpoints
03 - Clustering/.DS_Store
.ipynb_checkpoints
.DS_Store
